*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 600;
}
body{
  background: lightblue;
}

section{
  min-height: 100vh;
  padding: 8rem 5% 8rem;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 20px 25px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #343a40;
}
.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px 50px;
}
.navbar{
  margin-right: 20px;
  padding: 20px;
}

.navbar a{
  color: antiquewhite;
  border-bottom: 3px solid transparent;
  padding-right: 10px;
}

.logo{
  font-size: 30px;
  font-weight: 800;
  font-family: "Noto Sans TC", sans-serif;
  color: antiquewhite;
}
.input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  margin: 50px 50px;
  padding: 20px 20px;
}
.input-container p{
  margin: 10px 0;
}
.input-container input{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 50px;
  border: 3px solid #063cec;
}
.input-container button{
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.input-container button:hover{
  background-color: #0056b3;
}
.record{
  width: 70%;
}
table{
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
table, th, td{
  border: 1px solid #ddd;
}
th, td{
  padding: 8px;
  text-align: center;
}
th{
  background-color: #f2f2f2;
}
.delete-btn{
  background-image: url("assets/delete.svg");
  border-radius: 25px;
  padding: 5px;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  width: 20.5px;
  height: 20.5px;
}
h1{
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  color: #063cec;
  font-size: 3.5rem;
  border: 5px, solid #063cec;
  border-radius: 20px;
  max-width: 250px;
  text-align: center;
}
p{
  font-family: "Ma Shan Zheng", cursive;
  font-weight: 400;
  font-size: 1.5rem;
}
#calories-container{
  margin: 0;
  padding-left: 120px;
  min-height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
#week-container{
  margin: 10px;
  width: 350px;
  height: 400px;
  padding: 5px 0;
  background-color: white;
  border-radius: 20px;
  text-align: center;
}
#input-box input{
  background-color: transparent;
  border-radius: 10px;
  font-size: 17px;
}
#add-button{
  background-color: #359AFF;
  border: 0px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding: 10px 13px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 700;
}